# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# macOS system files
.DS_Store

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables / secrets
.env